%h1 Listing connections

-if @receivers.any?
  %h3 People to whom you are sending money
  %ul  
    - @receivers.each do |user|
      %li= link_to user.email, user_path(user)

-if @senders.any?
  %h3 People to whom you are sending money
  %ul  
    - @senders.each do |user|
      %li= link_to user.email, user_path(user)

-if not (@senders.any? or @receivers.any?)
  .alert
    You are not connected to anyone.  Send someone a remittance to add them to your connections.

.alert.alert-error The link below should only be there for debugging, remove ASAP
= link_to 'New Connection', new_connection_path
