!!! html
%html
  %head
    %meta{:content => "text/html; charset=UTF-8" :"http-equiv" => "Content-Type"}
  %body
    %h1 You have been invited to RemitWise by #{@from_user.email}.
    %p Click here to sign up for an account and keep track of your remittance payments.
