%h3
	RemitWise is an online financial education platform that empowers migrant workers and their families to take control of their remittances and personal finances.  You can #{ link_to 'sign in', new_user_session_path} or #{ link_to 'create an account', new_user_registration_path} to get started.